.botao {
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem 0;
    background: transparent;
    border: 2px solid var(--marfim);
    font-weight: 600;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    color: var(--marfim);
    font-family: 'Quicksand', sans-serif;
    max-width: 400px;
}

.botao-2 {
    grid-column: span 2;
}

.botao-3 {
    width: 100%;
    font-size: 1rem;
    padding: 0.2rem 0;
    background: transparent;
    border: 2px solid var(--marfim);
    font-weight: 600;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    color: var(--marfim);
    font-family: 'Quicksand', sans-serif;
    max-width: 200px;
}

.disabled {
    border: 2px solid var(--estanho);
    color: (--estanho);
}

.botao:hover {
    background: var(--marfim);
    color: var(--verde);
}

.disabled:hover {
    border: 2px solid var(--estanho);
    color: (--estanho);
}

.botao:hover span {
    color: var(--verde);
}


/* Escolha */
.escolha {
    display: flex;
    flex-direction: column;
    width: 80vw;
    text-align: center;
    margin: auto;
}

.escolha h3 {
    font-family: 'Lobster', cursive;
    font-size: 1.3rem;
    color: white;
    font-weight: 400;
    padding-bottom: 0.8rem;
}

.escolha-menu {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-gap: 0.5rem;
    background: transparent;
}
