/* Seção */

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    flex-direction: column;
}

section h2 {
    font-family: 'Lobster', cursive;
    font-size: 3rem;
    color: var(--marfim);
    padding: 0 2rem;
}

section p {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    text-align: center;
    line-height: 1.5rem;
    padding: 0 2rem;;
}

section > p > span {
    font-family: 'Lobster', cursive;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--rosa);    
}

/* Hero */

.hero {
    background: var(--estanho);
}

.hero > img {
    height: 100vw;
    padding: 2rem 0;
    max-width: 500px;
}



/* Empatia */

.empatia {
    background: var(--rosa);
}

.empatia > img {
    height: 70vw;
    padding: 0.5rem 0;
}

/* Bullying */
.bullying {
    background: var(--verde);
}

.bullying > img {
    height: 55vw;
    padding: 0.5rem 0;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


/* Denúncia */
.denuncia {
    background: var(--amarelo);
}

.denuncia > img {
    height: 70vw;
    padding: 0.5rem 0;
}

/* Acompanhamento */
.acompanhamento {
    background: var(--teal-medio);
}

.acompanhamento > img {
    height: 70vw;
    padding: 0.5rem 0;
}

/* Elementos */
.convo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.heroimage {
    max-width: 500px;
    max-width: 80%;
    margin: auto;
}

#persona-nome, #persona-cargo {
    display: none;
}

/* Bolha */

.bolha {
    margin-top: 3rem;
    width: 85vw;
    position: relative;
    color: var(--marfim);
    padding: 1rem;
    text-align: center;
    border-radius: 0.3rem;
}

.bolha > p {
    padding: 0.3rem 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-align: left;
    line-height: 1.1rem;
}

.bolha img {
    width: 100%;
    padding-top: 0.8rem;
    transform: scaleX(-1);
}

@media (min-width: 500px) { 

    .convo-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .convo-container img {
        width: 400px;
    }
}

@media (min-width: 700px) { 

    .convo-container {
        display: flex;
        margin-top: 100px;
        max-width: 1200px;
    }

    .convo-container .bolha {
        padding-left: 3rem;
    }

    .convo-container img {
        width: 40%;
    }

    .bolha {
        width: 40%;
    }

    .convo-line {
        max-width: 100%;
        display: none;
    }

    #persona-nome {
        display: block;
        text-align: right;
    }

    #persona-cargo {
        display: block;
        text-align: right;
        font-weight: 300;
    }
 }