@import url(./css/reset.css);
@import url(./css/header.css);
@import url(./css/home.css);

@import url(./css/botao.css);

/* Cores */
:root {
    --marfim: #fcf8f6;
    --teal: #00bbd1;
    --turquesa: #00e0ea;
    --estanho: #96a1a8;
    --amarelo: #ba8646;
    --rosa: #aa6b7e;
    --verde: #495d54;
}

/* Tipografia */
/* font-family: 'Lobster', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* font-family: 'Quicksand', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/* font-family: 'Chelsea Market', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
}



/* Main */
.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}




.destaque-empatia {
    font-family: 'Lobster', cursive;
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--rosa);
}

.destaque-bullying {
    font-family: 'Chelsea Market', cursive;
    font-size: 1.1rem;
    font-weight: 400;
    color: red;
}








.hifenizar {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.container-pagina {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pagina-main {
    display: flex;
    padding: 1.5rem;
}

.persona {
    width: 40vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.persona-empatia {
    background-image: url(img/janna02.png);
}

.persona-bullying {
    background-image: url(img/lucas02.png);
}

.persona-aconselhamento {
    background-image: url(img/yumi02.png);
}

.persona-suporte {
    background-image: url(img/aline02.png);
}

.persona-denuncia {
    background-image: url(img/samuel02.png);
}

.pagina-texto-container {
    height: 70vh;
    width: 60vw;
    z-index: 0;
    background: transparent;
    overflow: auto;
    border-top: 1px solid var(--rosa); 
    border-bottom: 1px solid var(--rosa); 
}

.pagina-texto {
    height: 70vh;
    font-size: 16px;
}

.pagina-texto p {
    padding: 1rem 0;
}

.sombra {
    box-shadow: 1px 1px 5px 1px rgba(150,161,168,0.74);
    -webkit-box-shadow: 1px 1px 5px 1px rgba(150,161,168,0.74);
    -moz-box-shadow: 1px 1px 5px 1px rgba(150,161,168,0.74);
}